:root{
    --primario: #9C27B0;
    --primarioOscuro: #891190;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287,2);
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;/*Esto es lo que nos permite agregar que un rem, sea igual a 10pixeles(px)*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/
body {
    background: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5 /*la base de la fuente*/;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%; 
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto; /*Para centrarlo*/
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/*
Header - Utilizando BEM
- Bloque
- Elemento 
- Modificador
*/
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}

/*Navegacion*/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /*gap: 2rem;*/
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}
.navegacion__enlace:last-of-type {
    margin: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
    text-align: center;
}

/*Grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*column-gap: 2rem;*/
    /*row-gap: 2rem;*/
    gap: 2rem;
}
@media (min-width: 768px) {/*Tamaño de tablet*/
    /*Esta clase se aplicara siempre y cuando la condicion de arriba se aplique, que la ventana sea mayor a 768px*/
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;   
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;/* " 1rem " (arriba y abajo) - " 0 " (derecha e izquierda) */
    text-align: center;
    line-height: 1.2;
}

/** Graficos **/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas {
    grid-row: 2 / 3; /*Fila - Ira desde el 2 al 3 del grid, se observa mejor con firefox edition*/
    /*grid-column: 1 / 3; */ /*Columna - Se extendera desde el 1 hacia el 3*/
    background-image: url(../img/grafico1.jpg);
}
.grafico--node {
    background-image: url(../img/grafico2.jpg);
    /*grid-column: 1 / 3;*/ /*Se repite la clase, es por eso que se agrega en la clase padre*/
    grid-row: 8 / 9;
}
@media (min-width: 768px) {
    /*Esta clase se aplicara siempre y cuando cumpla la condicion, la ventana debera de ser mayor a 768px*/
    /*Se agrego esta opcion debido a que al hacer mas pequeña la ventana, afectaba el footer y el header*/
    .grafico--node {
        grid-row: 5 / 6; /*Fila - Ira desde el 4 al 5 del grid*/
        grid-column: 2 / 4;
    }
}

/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}

/* Bloques */
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px){
    .bloques {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
.bloque {
    text-align: center;
}
.bloque__titulo {
    margin: 0%;
}

/*Pagina del producto*/
@media (min-width:768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
    /*border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;*/
    
    /*Simplificado*/
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--blanco);
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1/3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}